In [76]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import sem

In [40]:
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

In [46]:
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [49]:
mouse_study=pd.merge(mouse_metadata, study_results, on="Mouse ID")
mouse_study.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [53]:
unique_mouse=mouse_study['Mouse ID'].unique()
num_mouse=len(unique_mouse)
num_mouse

249

In [57]:
clean_mouse=mouse_study.drop_duplicates(subset="Mouse ID", keep='first')
clean_mouse

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.0,0
10,s185,Capomulin,Female,3,17,0,45.0,0
20,x401,Capomulin,Female,16,15,0,45.0,0
30,m601,Capomulin,Male,22,17,0,45.0,0
40,g791,Ramicane,Male,11,16,0,45.0,0
...,...,...,...,...,...,...,...,...
1858,z314,Stelasyn,Female,21,28,0,45.0,0
1860,z435,Propriva,Female,12,26,0,45.0,0
1863,z581,Infubinol,Female,24,25,0,45.0,0
1873,z795,Naftisol,Female,13,29,0,45.0,0
1883,z969,Naftisol,Male,9,30,0,45.0,0

In [65]:
drug_df=mouse_study.set_index('Drug Regimen').groupby(['Drug Regimen'])
drug_df.head()

,Mouse ID,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Drug Regimen,,,,,,,
Ramicane,k403,Male,21,16,0,45.000000,0
Ramicane,k403,Male,21,16,5,38.825898,0
Ramicane,k403,Male,21,16,10,35.014271,1
Ramicane,k403,Male,21,16,15,34.223992,1
Ramicane,k403,Male,21,16,20,32.997729,1
Capomulin,s185,Female,3,17,0,45.000000,0
Capomulin,s185,Female,3,17,5,43.878496,0
Capomulin,s185,Female,3,17,10,37.614948,0
Capomulin,s185,Female,3,17,15,38.177232,0
Capomulin,s185,Female,3,17,20,36.866876,0
Infubinol,a203,Female,20,23,0,45.000000,0
Infubinol,a203,Female,20,23,5,48.508468,0
Infubinol,a203,Female,20,23,10,51.852437,1
Infubinol,a203,Female,20,23,15,52.777870,1
Infubinol,a203,Female,20,23,20,55.173336,1
Placebo,a262,Female,17,29,0,45.000000,0
Placebo,a262,Female,17,29,5,48.717568,1
Placebo,a262,Female,17,29,10,49.595181,1
Placebo,a262,Female,17,29,15,53.827974,2
Placebo,a262,Female,17,29,20,57.013313,2
Ceftamin,a275,Female,20,28,0,45.000000,0
Ceftamin,a275,Female,20,28,5,46.795257,0
Ceftamin,a275,Female,20,28,10,47.371343,0
Ceftamin,a275,Female,20,28,15,49.734404,0
Ceftamin,a275,Female,20,28,20,50.513437,1
Stelasyn,a366,Female,16,29,0,45.000000,0
Stelasyn,a366,Female,16,29,5,48.951368,0
Stelasyn,a366,Female,16,29,10,53.523990,0
Stelasyn,a366,Female,16,29,15,55.265582,0
Stelasyn,a366,Female,16,29,20,57.285987,0
Zoniferol,a401,Female,8,25,0,45.000000,0
Zoniferol,a401,Female,8,25,5,46.111986,0
Zoniferol,a401,Female,8,25,10,47.725937,1
Zoniferol,a401,Female,8,25,15,49.934725,1
Zoniferol,a401,Female,8,25,20,52.204511,2
Ketapril,a457,Female,11,30,0,45.000000,0
Ketapril,a457,Female,11,30,5,47.462891,0
Ketapril,a457,Female,11,30,10,49.783419,0
Propriva,a699,Female,5,28,0,45.000000,0
Propriva,a699,Female,5,28,5,46.553090,0
Propriva,a699,Female,5,28,10,47.867376,0
Propriva,a699,Female,5,28,15,49.530401,0
Propriva,a699,Female,5,28,20,50.712423,0
Naftisol,a818,Female,12,28,0,45.000000,0
Naftisol,a818,Female,12,28,5,45.696709,0
Naftisol,a818,Female,12,28,10,49.790919,0
Naftisol,a818,Female,12,28,15,51.227566,0
Naftisol,a818,Female,12,28,20,54.834624,0
Ketapril,c580,Male,22,25,0,45.000000,0
Ketapril,c580,Male,22,25,5,46.628455,0

In [66]:
average_tumor=drug_df['Tumor Volume (mm3)'].mean()
average_tumor

Drug Regimen
Capomulin    40.675741
Ceftamin     52.591172
Infubinol    52.884795
Ketapril     55.235638
Naftisol     54.331565
Placebo      54.033581
Propriva     52.322552
Ramicane     40.216745
Stelasyn     54.233149
Zoniferol    53.236507
Name: Tumor Volume (mm3), dtype: float64

In [68]:
median_tumor=drug_df['Tumor Volume (mm3)'].median()
tumor_std=drug_df['Tumor Volume (mm3)'].std()
median_tumor

Drug Regimen
Capomulin    41.557809
Ceftamin     51.776157
Infubinol    51.820584
Ketapril     53.698743
Naftisol     52.509285
Placebo      52.288934
Propriva     50.854632
Ramicane     40.673236
Stelasyn     52.431737
Zoniferol    51.818479
Name: Tumor Volume (mm3), dtype: float64

In [69]:
tumor_std

Drug Regimen
Capomulin    4.994774
Ceftamin     6.268188
Infubinol    6.567243
Ketapril     8.279709
Naftisol     8.134708
Placebo      7.821003
Propriva     6.507770
Ramicane     4.846308
Stelasyn     7.710419
Zoniferol    6.966589
Name: Tumor Volume (mm3), dtype: float64

In [82]:
tumor_variance=drug_df['Tumor Volume (mm3)'].var()
tumor_variance
tumor_std=drug_df['Tumor Volume (mm3)'].std()
tumor_std

Drug Regimen
Capomulin    4.994774
Ceftamin     6.268188
Infubinol    6.567243
Ketapril     8.279709
Naftisol     8.134708
Placebo      7.821003
Propriva     6.507770
Ramicane     4.846308
Stelasyn     7.710419
Zoniferol    6.966589
Name: Tumor Volume (mm3), dtype: float64

In [80]:
tumor_sem=drug_df['Tumor Volume (mm3)'].sem()
tumor_sem

Drug Regimen
Capomulin    0.329346
Ceftamin     0.469821
Infubinol    0.492236
Ketapril     0.603860
Naftisol     0.596466
Placebo      0.581331
Propriva     0.512884
Ramicane     0.320955
Stelasyn     0.573111
Zoniferol    0.516398
Name: Tumor Volume (mm3), dtype: float64

In [85]:
summary_stat=pd.DataFrame({
    "Mean Tumor Volume": average_tumor,
    "Median Tumor Volume": median_tumor,
    "Tumor Volume Variance": tumor_variance,
    "Tumor Volume Std. Dev.": tumor_std,
    "Tumor Volume Std. Error": tumor_sem
})
summary_stat.head()

,Mean Tumor Volume,Median Tumor Volume,Tumor Volume Variance,Tumor Volume Std. Dev.,Tumor Volume Std. Error
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466

In [93]:
tumor_summary=mouse_study.set_index('Tumor Volume (mm3)').groupby(['Tumor Volume (mm3)'])
tumor_summary.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Metastatic Sites
Tumor Volume (mm3),,,,,,,
45.000000,k403,Ramicane,Male,21,16,0,0
38.825898,k403,Ramicane,Male,21,16,5,0
35.014271,k403,Ramicane,Male,21,16,10,1
34.223992,k403,Ramicane,Male,21,16,15,1
32.997729,k403,Ramicane,Male,21,16,20,1
...,...,...,...,...,...,...,...
63.145652,z969,Naftisol,Male,9,30,25,2
65.841013,z969,Naftisol,Male,9,30,30,3
69.176246,z969,Naftisol,Male,9,30,35,4
70.314904,z969,Naftisol,Male,9,30,40,4
73.867845,z969,Naftisol,Male,9,30,45,4